<!doctype html>

<html>

<head>
	<title>RestaurantGo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/restaurantGo.css" rel="stylesheet">

  	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/restaurantGo.js"></script>
</head>

<body>
    <div class="nav-bar">
        <a class="btn nav-bar-btn" href="/user">My Account</a>
    </div>

	<div class="container">
        {{!-- <div class="home-screen-elem">
            <a href="/order">
            <button class="btn home-screen-btn">Order Now!</button>
        </div> --}}
        <img class="title home-screen-elem"></img>
        <h1 class="titletext">RestaurantGo</h1>
        <div class="home-screen-elem">
            <a href="/orderHistory">
            <button class="btn home-screen-btn">Order History</button>
        </div>
        <div class="home-screen-elem">
            <a href="/liveKitchen">
            <button class="btn home-screen-btn">Live Kitchen</button>
        </div>
        <div class="home-screen-elem">
            <a href="/sharingBoard">
            <button class="btn home-screen-btn">Sharing Board</button>
        </div>
    </div>


</body>
</html>