<!doctype html>

<html>

<head>
	<title>RestaurantGo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../public/css/bootstrap.min.css" rel="stylesheet">
	<link href="../public/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../public/css/restaurantGo.css" rel="stylesheet">

  	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../public/js/bootstrap.min.js"></script>
	<script src="../public/js/restaurantGo.js"></script>
</head>

<body>
    <div class="nav-bar">
        <a class="btn nav-bar-btn">My Account</a>
    </div>

	<div class="container">
        <div class="home-screen-elem">
            <a href="../views/order.html">
            <button class="btn home-screen-btn">Order Now!</button>
        </div>
        <div class="home-screen-elem">
            <a href="../views/orderHistory.html">
            <button class="btn home-screen-btn">Order History</button>
        </div>
        <div class="home-screen-elem">
            <a href="../views/liveKitchen.html">
            <button class="btn home-screen-btn">Live Kitchen</button>
        </div>
        <div class="home-screen-elem">
            <a href="../views/sharingBoard.html">
            <button class="btn home-screen-btn">Sharing Board</button>
        </div>
    </div>


</body>
</html>