<!doctype html>

<html>

<head>
	<title>Live Kitchen</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/restaurantGo.css" rel="stylesheet">

  	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/restaurantGo.js"></script>
</head>

<body>

    <div class="nav-bar">
        <a class="btn back-btn" href="/">Home</a>
        <a class="btn nav-bar-btn" href="/user">My Account</a>
    </div>

    <div class="container">
        {{!-- <image class="livestream" src="../images/liveKitchenPlay.png">
        </image> --}}

        <div id="ytplayer"></div>

        <script>
        // Load the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // Replace the 'ytplayer' element with an <iframe> and
        // YouTube player after the API code downloads.
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
            height: '360',
            width: '640',
            videoId: 'ZJy1ajvMU1k'
            });
        }
        </script>

        {{!-- TODO --}}
        {{!-- <div class="home-screen-elem">
            <button class="btn float-right-btn long-btn">Full Screen</button>
        </div> --}}
        <div class="home-screen-elem">
            <button class="btn home-screen-btn long-btn like-btn">Like!</button>
        </div>
        <div class="home-screen-elem">
            <button class="btn home-screen-btn long-btn">Comment</button>
        </div>
        <div class="home-screen-elem">
            <a class="btn home-screen-btn long-btn" href="/sharingBoard">Share</a>
        </div>
    </div>



</body>
</html>