<!doctype html>

<html>

<head>
	<title>Order History</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../public/css/bootstrap.min.css" rel="stylesheet">
	<link href="../public/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../public/css/restaurantGo.css" rel="stylesheet">

  	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../public/js/bootstrap.min.js"></script>
	<script src="../public/js/restaurantGo.js"></script>
</head>

<body>
    <div class="nav-bar">
        <a class="btn back-btn" href="../views/index.html">Back</a>
        <a class="btn nav-bar-btn">My Account</a>
    </div>

    <!-- hardcoded orders for now -->
    <div class="container">
        <div class="order" id="order1">
            <div class="order-item">
                <div class="details"><button class="btn order-detail-btn">>></button></div>
                <div class="cost">$50.00</div>
                <div class="restaurant-name">Pizza Hut</div>
                <div class="date">Feb. 18th, 2021</div>
            </div>
        </div>

        <div class="order" id="order2">
            <div class="order-item">
                <div class="details"><button class="btn order-detail-btn">>></button></div>
                <div class="cost">$60.00</div>
                <div class="restaurant-name">The Taco Stand</div>
                <div class="date">Feb. 19th, 2021</div>
            </div>
        </div>

        <div class="order" id="order3">
            <div class="order-item">
                <div class="details"><button class="btn order-detail-btn">>></button></div>
                <div class="cost">$70.00</div>
                <div class="restaurant-name">California Kitchen</div>
                <div class="date">Feb. 19th, 2021</div>
            </div>
        </div>
    </div>

</body>
</html>