<!doctype html>

<html>

<head>
	<title>My Account</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/restaurantGo.css" rel="stylesheet">

  	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/restaurantGo.js"></script>
    {{> facebook}}
	<script src="/js/facebook.js"></script>
</head>

<body>

    <div class="nav-bar">
        <a class="btn back-btn" href="/">Home</a>
    </div>

    <div class="container" id="user-container">

        <div class="board-container">
            <img class="facebookphoto titletext" id="photo" src="/images/default-avatar.jpg"></img>
            <div class="useraccount">
                <p class="facebookLogin titletext">
                    Please login through Facebook
                    <fb:login-button class="fblogin" scope="public_profile,email" onlogin="checkLoginState();">
                    </fb:login-button>
                </p>
            </div>
            <div class="username" id="name">Default User</div>
            <div class="userbalance titletext">{{balance}}</div>
            <div class="userbio titletext">{{bio}}</div>
        </div>

        <button class="btn user-btn deposit-btn" id="deposit-node">Deposit</button>
        <button class="btn user-btn bio-btn" id="bio-node">Change Mood</button>
        <a class="btn user-btn logout-btn" href="/index">Log Out</a>
    </div>

</body>
</html>