<!doctype html>

<html>

<head>
	<title>My Account</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/restaurantGo.css" rel="stylesheet">

  	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/restaurantGo.js"></script>
</head>

<body>

    <div class="nav-bar">
        <a class="btn back-btn" href="/">Home</a>
    </div>

    <div class="container" id="user-container">
        <div class="board-container">
            <div class="username">{{username}}</div>
            <div class="userbalance">{{balance}}</div>
            <div class="userbio">{{bio}}</div>
        </div>

        <button class="btn user-btn deposit-btn" id="deposit-node">Deposit</button>
        <button class="btn user-btn bio-btn" id="bio-node">Change Mood</button>
        <a class="btn user-btn logout-btn" href="/index">Log Out</a>
    </div>

</body>
</html>